<!DOCTYPE html>
 <!-- New line -->

<html lang="en">
<head>
	<meta name="domain_verify" content="pmrgi33nmfuw4ir2ej3gi2luouxgg33nfzrw4irmejtxk2leei5ceolegyzgcnbvmy4dcnrtgq4ginlbg5stmolbha4dqnbvgezdizrreiwce5djnvsvgylwmurdumjvgeydmnbugiytanbwg56q">
    <meta name="baidu-site-verification" content="lVI9PdSZce" />
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- <link rel="icon" href="http://getbootstrap.com/favicon.ico"> -->

    <title>什么值得投 - 好贷宝</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- <script src="https://s22.cnzz.com/z_stat.php?id=1266391612&web_id=1266391612" language="JavaScript"></script> -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="header">
    
    
<nav class="navbar navbar-light static-top sb-navbar">
    <div class="container">
    <a href="/index">
        <img src="/static/img/vp.png" class="img-responsive" alt="Responsive image">
        <div id="navwords">  <h3>什么值得投</h3>
        <span>走的更快，也要更远...</span></div>
</a>
    </div>
</nav>

<!-- newnavtodo <nav class="navbar navbar-light static-top sb-navbar">
    <div class="container">
    <a href="/index">
        <img src="/static/img/vp.png" class="img-responsive" alt="Responsive image">
          <h3>网贷地图</h3></a>
          <div id="navwords">
            <span>网罗全网返利，剔除垃圾平台</span><span>我们要走得更快，还要更远...</span>
          </div>
    </div>
</nav> -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>


      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
              <a href="/towx/c5bf32f3-bda1-4645-b241-39ca56ca5544/">
          <img class="first-slide" src="/static/img/banner02.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              ...
            </div>

                  </div></a>
        </div>










      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

</div>

<div id="bodyContent">
    


<div class="container-fluid" >

<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3>好贷宝 </h3>
   
        <div class="well well-lg">
             <p>钱包金融 (好贷宝)<br />钱包金融，原名好贷宝，A股上市公司奥马电器（股票代码：002668）旗下平台</p>

<p>不限量，不需要约，1.5比例返，限额100万，不是30万<br />三月标首投的都可以复投，链接没换<br />https://shimo.im/doc/VTFM3UZL1bE2qAtX?r=G8ERXY/</p>

<p>手机注册链接: http://t.cn/R0LLvEH</p>

<p>9.27之前月标首投的如果取现则可以复投三月标</p>

<p>投资券需要在app手动勾选！pc端暂时不能勾选券！注意！！！</p>

<p>===========================</p>

<p>手机注册链接: http://t.cn/R0LLvEH<br />注册后下载app或者电脑操作，投资3月标或者90天标； 单号5k-100万，可以复投<br />参考收益如下，具体以平台为准：<br />1w收益435=利息275+红包10+返现150<br />2w收益880=利息550+红包30+返现300<br />6w收益2638=利息1650+红包88+返现900<br />10w收益4378=利息2750+红包128+返现1500<br />4、交单格式：手机+姓名+投资总金额  下工作日晚上返现。<br />PS：好贷宝9/12升级为钱包金融，注册后下载钱包金融APP或者网页官网http://www.qb-jr.com/，注册账户在原好贷宝上登陆不了。</p>
  </div>
    </div>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
         <h4>交单地址：https://jinshuju.net/f/5pWW9Z</h4>
    </div>
     <div class="col-sm-12 col-md-8 col-md-offset-2">
         <img src="/static/img/toWx/1921178402_zFbBSy5.jpg" class="img-responsive" alt="Responsive image">
    </div>
</div>


</div>


</div>


<div id="footer">
   <hr/>
   <div> Copyright © 1996-2017 All Rights Reserved. </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script> -->



</body>
</html>