<!DOCTYPE html>
 <!-- New line -->

<html lang="en">
<head>
	<meta name="domain_verify" content="pmrgi33nmfuw4ir2ej3gi2luouxgg33nfzrw4irmejtxk2leei5ceolegyzgcnbvmy4dcnrtgq4ginlbg5stmolbha4dqnbvgezdizrreiwce5djnvsvgylwmurdumjvgeydmnbugiytanbwg56q">
    <meta name="baidu-site-verification" content="lVI9PdSZce" />
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- <link rel="icon" href="http://getbootstrap.com/favicon.ico"> -->

    <title>什么值得投 - 钱包管家</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- <script src="https://s22.cnzz.com/z_stat.php?id=1266391612&web_id=1266391612" language="JavaScript"></script> -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="header">
    
    
<nav class="navbar navbar-light static-top sb-navbar">
    <div class="container">
    <a href="/index">
        <img src="/static/img/vp.png" class="img-responsive" alt="Responsive image">
        <div id="navwords">  <h3>什么值得投</h3>
        <span>走的更快，也要更远...</span></div>
</a>
    </div>
</nav>

<!-- newnavtodo <nav class="navbar navbar-light static-top sb-navbar">
    <div class="container">
    <a href="/index">
        <img src="/static/img/vp.png" class="img-responsive" alt="Responsive image">
          <h3>网贷地图</h3></a>
          <div id="navwords">
            <span>网罗全网返利，剔除垃圾平台</span><span>我们要走得更快，还要更远...</span>
          </div>
    </div>
</nav> -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>


      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
              <a href="/towx/c5bf32f3-bda1-4645-b241-39ca56ca5544/">
          <img class="first-slide" src="/static/img/banner02.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              ...
            </div>

                  </div></a>
        </div>










      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

</div>

<div id="bodyContent">
    


<div class="container-fluid" >

<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3>钱包管家 </h3>
   
        <div class="well well-lg">
             <p>钱包管家  </p>

<p>长期不限量 0撸40  <br />1.http://t.cn/RMIAKVN 电脑或手机直接点开链接注册（切勿刷新），领25元红包 </p>

<p>2.必须走链接注册完再下载APP添加一张信用卡</p>

<p>3.添加借记卡还信用卡10元，勾选5元新人红包，支付5元，实时到账。<br />收益：5元现金红包+返现15元<br />交单：手机号（只要手机号码） 隔天出数据 节假日顺延</p>

<p>【更多优惠】</p>

<p>平台还有4✘5=20 待激活红包，每月还10元可抵扣。</p>

<p>注意：必须用本人的借记卡给本人信用卡还款，不限设备不限ip 同一张身份证只能做一次<br />注册30天内还款有效，超时还款无效</p>

<p>第一次还款后，使用下方交单链接提交注册信息，即可领15元微信返现。</p>
  </div>
    </div>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
         <h4>交单地址：https://jinshuju.net/f/5pWW9Z</h4>
    </div>
     <div class="col-sm-12 col-md-8 col-md-offset-2">
         <img src="/static/img/toWx/1921178402.jpg" class="img-responsive" alt="Responsive image">
    </div>
</div>


</div>


</div>


<div id="footer">
   <hr/>
   <div> Copyright © 1996-2017 All Rights Reserved. </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script> -->



</body>
</html>