@media only screen and (max-width: 480px) {
    body {
        /*min-width: 480px;*/
        overflow: scroll;
    }
    #footer {
    background: grey;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
    }   
}
.promotionComments{color:red;}

.group div{
    display: inline
}
.bs-callout .group
{
    font-size:14px;
}

.groupName {
    /*font-weight: bolder;*/
    margin-right: 3px;
}

.promotionItem {
    margin-right: 6px;
}

#dataList .promotions {
    text-align: left;
}

.creditItem,.labelItem {
    margin-right: 10px;
    line-height: 23px;
}


#header nav img{
    display:inline-block;height: 32px;border-radius:30px;
        margin-top: 2px;
}
#header .navbar {
    margin-bottom: 0;
    min-height: 36px;
}
#header a,#bodyContent a.normalwords {color:black;}

#header h3 {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#header .carousel-caption{
    bottom: 0px;
    padding-bottom:0px;
}
#navwords {
    display: inline-block;vertical-align: middle;}

    /*#navwords span{display: block;}  newnavtodo*/

.gotoInvest{width: 100%;
    /*font-weight: bolder;*/
        margin-top: 12px;
}

#dataList .bs-callout:nth-child(odd) {
    border-left-color: #d9534f;
}

#dataList .bs-callout:nth-child(even) {
    border-left-color: #5cb85c;
}

#bodyContent .well {

    margin-top: 12px;
    margin-bottom: 12px;
}

.searchTags span {
    font-size: 13px;
    margin-right: 20px;
}

.searchTags {
    padding-left: 15px;
    margin-top: 13px;
}

#footer {
    background: grey;
    color: white;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
    margin: 12px 0;
    padding: 15px 30px 15px 15px;
    border: 1px solid #eee;
    border-left-width: 5px;

}

.bs-callout h4 {
    margin-top: 0;
    font-weight: bolder;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout .highlight {
    background-color: #fff;
}

.bs-callout code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* Themes for different contexts */
.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

/* full changed
-------------------------------------------------- */
body>a{display:none;visibility: hidden}

#header,#bodyContent,#footer{
     font-family:"微软雅黑";
}