{% extends "miniBond/base.html" %}
{% load staticfiles %}
{% block title %}什么值得投{% endblock %}
{% block js %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
{% block css %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
{% endblock %}
{% block header %}
    {% include "miniBond/header.html" %}
{% endblock %}

{% block content %}


    <div class="container-fluid" id="dataList">
        <div class="row">
           <div id='updatelabel' class="col-sm-12 col-md-8 col-md-offset-2">
            数据更新时间：2018-04-27 10:00
           </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <div>
                    <form class="form-horizontal">
                        <div class="well well-lg">

                            <div class="input-group">
                                <span class="input-group-addon">搜一搜</span>
                                <input id="searchPlatform" value="" type="text" class="form-control"
                                       placeholder=" ">
                            </div>
                            <div class="input-group searchTags">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">全部</span>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">上市</span>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">国资</span>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">网贷之家</span>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">评级</span>


                                <!--    <span class="glyphicon glyphicon-pencil" aria-hidden="true">网贷地图</span>
                                   <span class="glyphicon glyphicon-pencil" aria-hidden="true">返利网</span> -->

                            </div>
                        </div>

                    </form>

                </div>

                {% for pf in pfs %}

                        <div class="bs-callout">
                                <h4> <a class='normalwords' target="_blank" href="{{ pf.website }}">{{ pf.name }} </a></h4>
                                  {% include "miniBond/platformInfo.html" with pf=pf  %}

                                   {% if pf.linktowx and pf.linktowx.isValid  %}
                               <a class="btn btn-default  logTrace gotoInvest"
                                data-area="pinfo" data-target="{{ pf.name }}"
                               data-propertyData="vditu"
                               href="/towx/{{ pf.id }}">去 网贷地图 拿返利</a>
                                  <div class="promotionComments">
                                {{ pf.linktowx.description|linebreaks }}
                            </div>
                            {% endif %}                           

                        
                    {% for pr  in  pf.promotioninfo_set.all %}
                        {% if pr.isValid %}

                         
                                <a class="btn btn-default  logTrace gotoInvest" data-area="pinfo" data-target="{{ pf.name }}"
                                   data-propertydata="{{ pr.promotionAgency.name }}" target="_blank"
                                   href="{{ pr.url }}">去 {{ pr.promotionAgency.name }} 拿返利</a>
                            <div class="promotionComments">
                                {{ pr.description|linebreaks }}
                            </div>
                           

                        {% endif %}
                    {% endfor %}
                     </div>

                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}