{% extends "miniBond/base.html" %}
{% load staticfiles %}
{% static "" as staticUrl %}

{% block title %}{{pfName}}{% endblock %}
{% block js %}
{#    <script src="{% static "js/index.js" %}"></script>#}
{% endblock %}
{% block css %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
{% endblock %}

{% block header %}
    {% include "miniBond/header.html" %}
{% endblock %}

{% block content %}


<div class="container-fluid" >

<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3>{{pfName}} </h3>
   
        <div class="well well-lg">
             {{ wxText|linebreaks }}
  </div>
    </div>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
         <h4>交单地址：https://jinshuju.net/f/5pWW9Z</h4>
    </div>
     <div class="col-sm-12 col-md-8 col-md-offset-2">
         <img src="/{{ imgName }}" class="img-responsive" alt="Responsive image">
    </div>
</div>


</div>

{% endblock %}