         {% if pf.platformrating_set.count > 0 %}
                                    <div class="credits group">
                                        <div class="groupName">三方评级：</div>
                                        <div class="groupText">
                                            {% for credit in pf.platformrating_set.all %}
                                                <div class="creditItem">
                                                    <div class='normalwords'>
                                                        <span class="ratingOrganize">{{ credit.ratingOrganization.name }}:</span>
                                                        <span class="creditIndex"><strong>{{ credit.ratingValue }}</strong>;</span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if pf.comments|length >= 3 %}
                                    <div class="platformLabels group">
                                        <div class="groupName">平台标签：</div>
                                        <div class="groupText">
                                            <span class="labelItem">{{ pf.comments }}</span>
                                        </div>
                                    </div>
                                {% endif %}