
{#<div class="row show-grid">#}
{#   <div class="col-md-2">{{ pf.name }}</div>#}
{#        <div class="col-md-1">22</div>#}
{#        <div class="col-md-1">13</div>#}
{#        <div class="col-md-1">5</div>#}
{#        <div class="col-md-7">WhatsupWhatsupWhatsupWhatsup</div>#}
{#</div>#}

<tr class="clickable">
                <td  class="col-md-2">
{#                    <a href="/Bounddefaultinfoes/details/61" target="_blank">15机床CP004</a>#}
{{ pf.name }}
                </td>
                <td  class="col-md-1">
                    22
                </td>
                <td  class="col-md-1">
                   1
                </td>
                <td  class="col-md-1">
                   5
                </td>
                <td  class="col-md-7">
                    Whatsup
                </td>


            </tr>